body {
	background-color: #121212;
	color: #efefef;
	font-family: Futura, sans-serif;
}

.wrapper {
	width: 19.75em;
	margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
}

footer {
	clear: both;
}

@media all and (min-width: 35.5em){
	.wrapper {
		width: 28.5em;
	}
}

@media all and (min-width: 62.5em){
	.wrapper {
		width: 37.5em;
	}
}
